.c-colors {
  display: flex;
  justify-content: space-around;
}

.c-color {
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}