.c-cards {
  flex-basis: 80%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.9);
  /* color: rgba(255,255,255,0.9); */
}

.c-card-items {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.c-card-items__card {
  background: rgba(255, 255, 255, 0.2);
  width: 17.5%;
  margin: 0.5%;
}


.c-card-items__image {
  max-width: 100%;
}

.c-card-items__name, .c-card-items__mana-cost,
.c-card-items__text {
  display: none;
}

.is-grid .c-card-items {
  width: 50%;
}

.is-grid .c-card-items__card {
  width: 100%;
  border: 1px solid rgba(40, 40, 40, 0.5);
  padding: 0 2.25rem;
}

.is-grid .c-card-items__name, .is-grid .c-card-items__mana-cost,
.is-grid .c-card-items__text {
  display: block;
}

.is-grid .c-card-items__image {
  display: none;
}

