body {
  background-color: #D3AD97;
}

/* .c-button {
  border: 0;
  background-color: white;
  margin: 0 1rem;
  padding: 0.5rem;
  font-family: 'Oxygen Mono', sans-serif; 
} */

/*

dark purple: #2B1A25;
pastel mauve: #695E66;
skin: #D3AD97;
olive skin: #BCAE80;
crimson: #691413;

*/